{% extends 'base.html' %}
{% block body %}

<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3 rounded-l-lg">
                    Title
                </th>
                <th scope="col" class="px-6 py-3 rounded-l-lg">
                    Description
                </th>
                <th scope="col" class="px-6 py-3">
                    Link
                </th>
                <th scope="col" class="px-6 py-3 rounded-r-lg">
                    Tags
                </th>
                <th scope="col" class="px-6 py-3 rounded-r-lg">
                  Date and Time Uploaded
                </th>
                <th scope="col" class="px-6 py-3 rounded-r-lg">
                  Uploaded By
                </th>
            </tr>
        </thead>
        <tbody>
          <!--:
            <tr class="bg-white dark:bg-gray-800">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Apple MacBook Pro 17"
                </th>
                <td class="px-6 py-4">
                    1
                </td>
                <td class="px-6 py-4">
                    $2999
                </td>
            </tr>
          -->
        </tbody>
    </table>
</div>
{% endblock %}
