{% extends 'base.html' %}

{% load widget_tweaks %}

{% block body %}
  <div class="container mx-auto mt-8">
    <form method="post" class="max-w-md mx-auto bg-gray-900 shadow-lg p-8">
      {% csrf_token %}
      <h2 class="text-2xl font-semibold mb-6 text-white">Register</h2>
      {% for field in form %}
        <div class="mb-4">
          <label for="{{ field.id_for_label }}" class="text-white">
            {{ field.label }}
          </label>
          {{ field|attr:"class: 'w-full px-3 py-2 border rounded-md bg-gray-800 text-white focus:outline-none focus:bg-gray-700 focus:border-indigo-500'" }}
          {% if field.errors %}
            {% for error in field.errors %}
              <p class="text-red-500">{{ error }}</p>
            {% endfor %}
          {% endif %}
        </div>
      {% endfor %}
      <button type="submit" class="bg-indigo-500 text-white py-2 px-4 rounded-md hover:bg-indigo-600 mt-4">
        Register
      </button>
    </form>
  </div>
{% endblock %}

